@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Name: @person.SalesPerson</p>

<p>Amount: @person.Amount.ToString("c")</p>

<p>
    <input 
        type="number" 
        @bind-value="person.Amount" 
        @bind-value:event="oninput"
    />
</p>

<p>
    <input 
        type="checkbox" 
        @bind-value="person.IsActive" 
        @bind-value:event="oninput"
    />
</p>

@code {
    IndexViewModel person = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        person = new IndexViewModel
        {
            SalesPerson = "Alex",
            Amount = 15000,
            Locations = new List<Location> {
                new Location { Id = 1, City = "Toronto", ProvState = "Ontario", Country = "Canada" },
                new Location { Id = 2, City = "Montreal", ProvState = "Quebec", Country = "Canada" }
            }
        };
    }

    #region "View Model"

    class IndexViewModel
    {
        public string SalesPerson { get; set; }
        public double Amount { get; set; }
        public bool IsActive { get; set; }
        public List<Location> Locations;
    }

    class Location
    {
        public int Id { get; set; }
        public string City { get; set; }
        public string ProvState { get; set; }
        public string Country { get; set; }
    }

    #endregion
}
    